<!doctype html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Hello World</h1>
    <table class="datatable table table-striped" cellspacing="0" width="100%">
             <!--  <thead>
                <tr>
                  <th>Project Name</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Project Name</th>
                </tr>
              </tfoot> -->
                <tbody>
                
                    <%for(i in user){%>
                    <tr>
                        <td><%=user[i].name%></td>
                    </tr>
                    <%}%>
                </tbody>
    </table>
</div>

</div>
</body>
</html>
